#icontainer{
	position:absolute;
	top: 2%;
	right:0.5%; 
	border: 3px;
	width: 150px;
	height: 200px;
	border-radius: 20px;
	border:3px solid #000000;
	overflow-y:scroll;
}
.icon{
	width: 50px;
	height: 50px;
	border: 3px solid #000000;
	border-radius: 15px;
}
.image{
	width: 50px;
	height: 50px;
}
#settings{
	width: 50px;
	height: 50px;
	 background-color: blue;
}
#search{
	width: 408px;
	height: 40px;
	position: absolute;
	top: 50%;
    left: 50%;
	border: 1px solid  #ff7300;
}
#searchbar{
	width: 600px;
	height: 40px;
	border-radius: 10px;
}
#searchbar:focus {
  background-color: lightblue;
  border: 3px solid  #ff7300;
}